body {
	background-color: #FFFFCC;
	font-family:  "÷ו","ו";
	line-height: 1.5;
}

h1, h2, h4 {
	color: #FF0000;
}

h3, h5, h6 {
	color: #FF0000;
}

a {
	color: #006666;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
}
